body, html {
  font-family: Georgia, serif;
}

.post_title {
  font: Georgia, sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
  color: #cea525;
}

p {
  font-size: 1em;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:1.7em;
  margin-bottom: 1em;
  font-weight: normal;
  line-height: 1.5em;
}

.container {
  max-width: 900px;

}

.post {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  padding-bottom: 25px
}

.post_date {
  text-align: center;
  margin-bottom: 20px;
  font-size: 10px;
  color: #939393;
  font-size: italic;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul.tags li {
  display:inline;
  background: #f5f5f5;
  padding: 3px;
  border-radius: 5px;
}

.category {
  text-align: center;
}

.category {
  text-align: center;
  color: #939393;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 10px;
}
