<div class="text-center mb-4">
  <h1 class="h3 mb-3 font-weight-normal">Login 💭</h1>
</div>

<% if (typeof error !== 'undefined') { %>
  <h2> Error: <%= error %> </h2>
<% } %>

<form id="new_post" class="form-signin" action="/login" method="POST">
  <div class="form-label-group">
    <input type="text" name="username" placeholder="Login" class="form-control"></input>
  </div>
  <br/>
  <div class="form-label-group">
    <input type="password" class="form-control" name="password" placeholder="Password"></input>
  </div>
  <br />
  <button type="submit" id="login_btn" class="btn btn-lg btn-success btn-block">Login</button>
</form>
